
<div class="container">
    <h1>Post New Blog</h1>

    <div class="row">
            <div class="col-md-12">
            <span>Author:</span>
            <input class="author-text" type="text" ng-model="post.author"/>
        </div>
        <div class="col-md-12">
            <span>Title:</span>
            <input class="title-text" type="text" ng-model="post.title"/>
        </div>
        <div class="col-md-12">
            <span>Enter Blog:</span>
            <input class="user-text" type="text" ng-model="post.content"/>
            <button class="user-button" ng-click="newPost()">Submit Blog</button>
        </div>
    </div>
</div>